.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        background-color: $bg-color;
        color: $text-color;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px
    }

    &__title {
        color: $main-color;
        font-weight: bold;
        margin: 10px 0;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #CFD9EB !important;
        border-radius: 5px;
        padding: 5px 10px;

        &:focus {
            border: 1px solid $main-color !important;
            outline: none;
        }
    }
}
